@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.ttf') format('truetype'),
		url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.color-4 {
    /*background: #f5f5dc;*/
	background: #fff;
}

/* General button style (reset) */
.seleccionar{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.seleccionar:before,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-right:before {
	content: "\e00d";
}

/* Button 4 */
.seleccionar-4 {
	border-radius: 50px;
	border: 3px solid #692939;
	color: #414134;
	overflow: hidden;
}

.seleccionar-4:active {
	border-color: #E67E22;
	color: #E67E22;
}

.seleccionar-4:hover {
	background: #d1ae6c;
}

.seleccionar-4:before {
	position: absolute;
	height: 100%;
	font-size: 165%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.seleccionar-4:active:before {
	color: #E67E22;
}

/* Button 4c */
.seleccionar-4c:before {
	left: 70%;
	opacity: 0;
	top: 0;
}

.seleccionar-4c:hover:before {
	left: 90%;
	opacity: 1;
}