.error{
	background-color: #E74F4F;
	position: fixed;
	top: 0;
	z-index: 100000;
	padding: 10px 0 ;
	border-radius:  0 0 5px 5px;
	color: #000;
	font-weight: bold;
	width: 100%;
	text-align: center;
	display: none;
}

.correcto{
	background-color: #17AC10;
	position: fixed;
	top: 0;
	z-index: 100000;
	padding: 10px 0 ;
	border-radius:  0 0 5px 5px;
	color: #fff;
	width: 100%;
	text-align: center;
	display: none;
}

.loader{
	background-color: #469ADC;
	position: fixed;
	top: 40px;
	right: 0px;
	z-index: 1000000;
	padding: 10px 0 ;
	border-radius:  5px 5px 5px 5px;
	color: #fff;
	text-align: center;
	display: none;
}

.estiloHover tr:hover {
  background-color: #E9E9E9;
}
.estiloHover tr:hover td {
background-color: #E9E9E9;
}

.botonEditar{
	border: 1px solid #ccc;
	border-radius: 10%;
	width: 30px;
	height: 30px;
	background-color:#ECECEC;

}
.botonEditar:hover {
  background-color:gray;
 }