/*
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	*/
	@import url("font-awesome.min.css");

	/* Basic */

	body {
		background: #999999;
	}

	body, input, sel, textarea {
		color: #555555;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.75em;
	}

	a {
		color: #5e151d;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 700;
		line-height: 1.75em;
		margin-bottom: 1em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px #888888;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em #888888;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 14.6em;
	}

	header h2 {
		margin: 0;
		padding: 0;
		font-size: 3em;
		font-weight: 600;
	}

	header .byline {
		font-size: 1.6em;
	}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}

	/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: none;
		border: solid 1px #888888;
		border-radius: 12px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.5em;
		text-decoration: none;
		width: 100%;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border-color: #5e151d;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {
		color: rgba(85, 85, 85, 0.5) !important;
	}

	/* Image */

	.image {
		border: 0;
		position: relative;
	}

	.image.fit {
		display: block;
	}

	.image.fit img {
		display: block;
		width: 100%;
	}

	.image.feature {
		display: block;
		margin: 0 0 2em 0;
	}

	.image.feature img {
		display: block;
		width: 100%;
	}

	/* Icon */

	.icon {
		position: relative;
	}

	.icon:before {
		content: "";
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}

	/* Lists */

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

	ol.default li {
		padding-left: 0.25em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	ul.default {
		list-style: none;
	}

	ul.default li {
		display: block;
		padding: 0.60em 0;
		border-top: 1px solid;
		border-color: rgba(192, 192, 192, 0.15);
	}

	ul.default > :first-child {
		padding-top: 0;
		border-top: none;
	}

	ul.icons {
		cursor: default;
	}

	ul.icons li {
		display: inline-block;
		line-height: 1em;
		padding-left: 0.5em;
	}

	ul.icons li:first-child {
		padding-left: 0;
	}

	ul.actions {
		cursor: default;
	}

	ul.actions:last-child {
		margin-bottom: 0;
	}

	ul.actions li {
		display: inline-block;
		padding: 0 0 0 1.5em;
	}

	ul.actions li:first-child {
		padding: 0;
	}

	ul.actions.vertical li {
		display: block;
		padding: 1.5em 0 0 0;
	}

	ul.actions.vertical li:first-child {
		padding: 0;
	}

	ul.contact li {
		padding: 1.05em 0;
		border-top: 1px solid;
		border-color: rgba(192, 192, 192, 0.15);
	}

	ul.contact li > span {
		display: inline-block;
	}

	ul.contact li .address, ul.contact li .mail, ul.contact li .phone {
		float: left;
		width: 100px;
		font-weight: 600;
	}

	ul.contact > :first-child {
		padding-top: 0;
		border-top: none;
	}

	ul.style li {
		clear: both;
		display: block;
		padding-top: 3em;
	}

	ul.style > :first-child {
		padding-top: 0;
	}

	ul.style h3 {
		display: block;
		margin: 0;
		padding-bottom: 0.50em;
		font-size: 1.1em;
		font-weight: 700;
		color: #404040;
	}

	ul.style .fa {
		float: left;
		display: inline-block;
		width: 80px;
		height: 80px;
		margin-right: 1em;
		background: #3ac984;
		line-height: 80px;
		text-align: center;
		border-radius: 10px;
		font-size: 2em;
		color: white;
	}

	ul.list {
		list-style: none;
	}

	ul.list li {
		display: block;
		padding: 0.60em 0;
		border-top: 1px solid;
		border-color: red;
	}

	ul.list > :first-child {
		padding-top: 0;
		border-top: none;
	}

	/* Tables */
	div.blueTable {
		border: 1px solid #ffffff;
		background-color: ##c2e6ff;
		width: 100%;
		text-align: left;
		border-collapse: collapse;
	}
	.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
		border: 1px solid #AAAAAA;
		padding: 3px 2px;
	}
	.divTable.blueTable .divTableBody .divTableCell {
		font-size: 13px;
	}
	.divTable.blueTable .divTableRow:nth-child(even) {
		background: #D0E4F5;
	}
	.divTable.blueTable .divTableHeading {
		background: #1C6EA4;
		background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
		background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
		background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	}
	.divTable.blueTable .divTableHeading .divTableHead {
		font-size: 15px;
		font-weight: bold;
		color: #FFFFFF;
	}
	.blueTable .tableFootStyle {
		font-size: 14px;
		font-weight: bold;
		color: #FFFFFF;
		background: #DAF5C9;
		background: -moz-linear-gradient(top, #e3f7d6 0%, #ddf6ce 66%, #DAF5C9 100%);
		background: -webkit-linear-gradient(top, #e3f7d6 0%, #ddf6ce 66%, #DAF5C9 100%);
		background: linear-gradient(to bottom, #e3f7d6 0%, #ddf6ce 66%, #DAF5C9 100%);
		border-top: 2px solid #444444;
	}
	.blueTable .tableFootStyle {
		font-size: 14px;
	}
	.blueTable .tableFootStyle .links {
		text-align: right;
	}
	.blueTable .tableFootStyle .links a{
		display: inline-block;
		background: #1C6EA4;
		color: #FFFFFF;
		padding: 2px 8px;
		border-radius: 5px;
	}
	.blueTable.outerTableFooter {
		border-top: none;
	}
	.blueTable.outerTableFooter .tableFootStyle {
		padding: 3px 5px; 
	}
	/* DivTable.com */
	.divTable{ display: table; }
	.divTableRow { display: table-row; }
	.divTableHeading { display: table-header-group;}
	.divTableCell, .divTableHead { display: table-cell;}
	.divTableHeading { display: table-header-group;}
	.divTableFoot { display: table-footer-group;}
	.divTableBody { display: table-row-group;}


	table.blueTable {
		border: 1px solid #ffffff;
		background-color: #c2e6ff;
		width: 100%;
		text-align: left;
		border-collapse: collapse;
	}
	table.blueTable td, table.blueTable th {
		border: 1px solid #AAAAAA;
		padding: 3px 2px;
	}
	table.blueTable tbody td {
		font-size: 13px;
	}
	table.blueTable tr:nth-child(even) {
		background: #f1f9ff;
	}
	table.blueTable thead {
	}
	table.blueTable thead th {
		font-size: 15px;
		font-weight: bold;
		color: #FFFFFF;
	}
	table.blueTable tfoot {
		font-size: 14px;
		font-weight: bold;
		color: #FFFFFF;
		background: #D0E4F5;
		background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
		background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
		background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
		border-top: 2px solid #444444;
	}
	table.blueTable tfoot td {
		font-size: 14px;
	}
	table.blueTable tfoot .links {
		text-align: right;
	}
	table.blueTable tfoot .links a{
		display: inline-block;
		background: #1C6EA4;
		color: #FFFFFF;
		padding: 2px 8px;
		border-radius: 5px;
	}


	table {
		width: 100%;
	}

	table.default {
		width: 100%;
	}

	table.default tbody tr {
		border-bottom: solid 1px #888888;
	}

	table.default td {
		padding: 0.5em 1em 0.5em 1em;
	}

	table.default th {
		font-weight: 700;
		padding: 0.5em 1em 0.5em 1em;
		text-align: left;
	}

	table.default thead {
		background: #555555;
		color: #fff;
	}

	/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		background: #999999;
		border-radius: 25px;
		border: 0;
		color: white;
		cursor: pointer;
		padding: 0.4em 1em;
		text-align: center;
		text-decoration: none;
		font-size: 1.5em;
		font-weight: 600;
		min-width: 10em;
	}

	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	.button:hover {
		background-color: #141e42;
	}

	input[type="submit"].fit,
	input[type="reset"].fit,
	input[type="button"].fit,
	.button.fit {
		width: 100%;
	}

	input[type="submit"].small,
	input[type="reset"].small,
	input[type="button"].small,
	.button.small {
		font-size: 0.8em;
	}

	/* Wrapper */

	.wrapper.style1 {
		background: #fff;
	}

	.wrapper.style2 {
		background: #ececec;
		padding: 6em 0;
		text-align: center;
	}

	.wrapper.style3 {
		padding: 2em 0 3.5em 0;
		background: #ececec;
	}

	.wrapper.style3 span {
		display: inline-block;
		padding-top: 0.80em;
		font-size: 2em;
		font-weight: 600;
	}

	.wrapper.style3 .button {
		float: right;
	}

	/* Header */

	#headerp {
		background: #333333 url("../images/pic01.jpg") no-repeat;
		background-size: cover;
		color: #fff;
		padding: 1em 0;
		text-align: center;
		background-position: 0% 55%;
		position: relative;
	}
	#header {
		background: #333333 url("../images/pic01.jpg") no-repeat;
		background-size: cover;
		color: #fff;
		padding: 8em 1;
		text-align: center;
		background-position: 0% 65%;
		position: relative;
	}

	#header:before {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(16, 32, 48, 0.25);
	}

	#header > * {
		
		z-index: 15;
	}

	.homepage #header {
		padding: 2em 0;
		background-position: center;
	}

	#logo {
		font-size: 2em;
	}

	#nav > ul {
		margin: 0;
	}

	#nav > ul > li {
		border-radius: 10px 10px 0 0;
		display: inline-block;
		margin-left: 0.5em;
		padding: 0.5em 0.55em;
		font-weight: bold;
	}

	#nav > ul > li a {
		color: #FFF;
		text-decoration: none;
		font-size: 1.2em;
		
	}

	#nav > ul > li:first-child {
		margin-left: 0;
	}

	#nav > ul > li:hover a {
		color: #fff;
		
	}

	#nav > ul > li.active {
		background: #999999;
	}

	#nav > ul > li.active {
		background: #999999;
	}
	#nav > ul > li.active a {
		color: white;
	}

	#nav > ul > li > ul {
		display: none;
	}

	/* Dropotron */

	.dropotron {
		margin-top: -2px;
		background: #5e151d;
		border-radius: 10px;
		color: white;
		min-width: 12em;
		padding: 1em 0;
		

	}

	.dropotron > li {
		line-height: 2em;
		padding: 0 1em;

	}

	.dropotron > li > a {
		color: #FFF;
		text-decoration: none;

	}

	.dropotron > li.active > a, .dropotron > li:hover > a {
		color: #FFF;

	}

	.dropotron.level-0 {
		border-radius: 0 10px 10px 10px;
		font-size: 1em;
	}

	/* Banner */

	#banner {
		text-align: center;
		padding: 0.009em 0 0 0;
	}

	#banner .major h2 {
		font-size: 2.5em;
	}

	#banner .major .byline {
		display: block;
		margin: 0em 0em;
		line-height: 1.6em;
		font-size: 0em;
	}
	
	#banner a {
		color: inherit;
	}

	/* Main */

	.no-sidebar #main .major, .left-sidebar #main .major, .right-sidebar #main .major {
		text-align: left;
	}

	.homepage #main .major {
		text-align: center;
	}

	#main {
		padding: 1em 0;
	}

	#main .sidebar .major {
		padding-bottom: 2em;
	}

	#main .sidebar .major h2 {
		font-size: 1.8em;
	}

	#main .sidebar .default li {
		border-color: #cdcdcd;
	}

	#main .sidebar .default a {
		color: #464646;
	}

	#main .sidebar > :first-child {
		margin-bottom: 3em;
	}

	/* Footer */

	#footer {
		padding: 4em 0;
		color: #fff;
	}

	#footer .major h2 {
		font-size: 2em;
		color: #FFF;
	}

	#footer .major .byline {
		font-size: 1.1em;
	}

	#footer .copyright {
		margin-top: 3em;
		padding-top: 3em;
		border-top: 1px solid;
		border-color: rgba(192, 192, 192, 0.15);
		text-align: center;
		color: inherit;
	}

	#footer a {
		color: inherit;
	}


	.sub-main-w3 {
		display: -webkit-flex;
		display: -webkit-box;
		display: -moz-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		
		justify-content: center;
	}

	.sub-main-w3 form {
		max-width: 500px;
		margin: 0 0vw;
		background: rgba(94, 21, 29, 0.60);
		padding: 2vw;
		box-sizing: border-box;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-bottom: 8px solid #999999;
		border-radius: 30px 30px 50px 50px;
	}

	.form-style-agile {
		margin-bottom: 1.5em;
		flex-basis: 100%;
		-webkit-flex-basis: 100%;
	}

	.sub-main-w3 label {
		font-size: 14px;
		color: #fff;
		display: inline-block;
		font-weight: 500;
		margin-bottom: 10px;
		text-transform: capitalize;
		letter-spacing: 1px;
	}

	.sub-main-w3 label i {
		font-size: 0	px;
		margin-left: 5px;
		color: #f7296f;
		border-radius: 50%;
		line-height: 1.9;
		text-align: center;
	}

	.form-style-agile input[type="text"],
	.form-style-agile input[type="password"] {
		width: 100%;
		color: #000;
		outline: none;
		font-size: 14px;
		letter-spacing: 1px;
		padding: 15px 15px;
		box-sizing: border-box;
		border: none;
		border: 1px solid #000;
		background: #fff;
	}
